@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: VinegarStroke;
  src: url('/Vinegar Stroke.ttf');
}
@font-face {
  font-family: LicensePlate;
  src: url('/License Plate.ttf');
}

input {
  outline: none;
}

body {
  height: 100vh;
  height: 100svh;
}

ol li {
  display: list-item;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 200px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
  transition: 1s;
}
